# Number of replicas for the Deployment
replicaCount: 2

# Docker image configuration
image:
  repository: ahatashamcsecu/nest-js-api-project
  # Change to your Docker Hub repo
  tag: "latest"
  # Jenkins will override this during deployment
  pullPolicy: Always
  # Always pull latest image on deploy

# If pulling from private registry (DockerHub, ECR, GCR)
imagePullSecret: dockerhub-cred
# kubectl create secret docker-registry regcred ...

# Container port
containerPort: 3000

# Resource limits & requests (recommended defaults)
resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

# Environment Variables (ConfigMap)
config:
  APP_NAME: "MyNodeApp"
  NODE_ENV: "production"

# Secrets (handled securely)
secrets:
  DB_PASSWORD: "changeme"
  API_KEY: "changeme"

# Node affinity, anti-affinity, and advanced scheduling
nodeSelector: {}

tolerations: []

affinity: {}

# RBAC configuration
serviceAccount:
  create: true
  name: ""

# Service configuration (if you use service.yaml)
service:
  type: ClusterIP
  port: 80
  targetPort: 3000

# Liveness probe config
livenessProbe:
  path: /health
  initialDelaySeconds: 10
  periodSeconds: 10

# Readiness probe config
readinessProbe:
  path: /ready
  initialDelaySeconds: 5
  periodSeconds: 5

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

db:
  host: postgres
  port: 5432
  username: postgres
  password: secret
  database: myappdb

httpRoute:
  enabled: false
